body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding:0;
  margin:0;
  background-color: #44466F;
  color:#ffffff;
}

/*Global*/
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button{
  height:38px;
  border:none;
  padding-left: 20px;
  padding-right: 20px;
  color:#ffffff;
  background-color: #44466F;
  border-radius: 2px;
  font-size: 15px;
}

.dark{
  padding:15px;
  background:#B93838;
  color:#ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Header*/
header{
  background:#B93838;
  color:#ffffff;
  padding-top:30px;
  min-height: 70px;
  border-bottom:#000000 1px solid;
}
header a{
  color:#ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float:left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #head{
  float:left;
}

header #head h1{
  margin:0;
}
header nav{
  float: right;
  margin-top: 10px;
}

/*can add header .highlight to make logo same color as .current*/
header .current a{
  color:#44466F;
  font-weight: bold;
}

header a:hover{
  color:#cccccc;
  font-weight: bold;
}

/*backgroundImage*/

#backgroundImage{
  min-height: 400px;
  background: url("/img/background-image.jpg") no-repeat 0 -450px;
  color:#ffffff;
  text-align: center;
}

#backgroundImage h1{
  margin-top:100px;
  font-size: 55px;
  margin-bottom: 10px;

}

#backgroundImage p{
  font-size: 20px;
}

#subscribe{
  padding:15px;
  color:#ffffff;
  background: #B93838;
  border-top:#000000 1px solid;
}

#subscribe h1{
  float:left;
}

#subscribe form{
  float:right;
  margin-top: 15px;
}

#subscribe input[type="email"]{
  padding:4px;
  height: 31px;
  width:250px;
  border:none;
  border-radius: 2px;
  font-size: 15px;
}

/*boxes*/

#boxes{
  margin-top: 20px;
}

#boxes .box{
  float: left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}


/*main-col*/
article#main-col{
  float: left;
  width: 65%;
}

/*sidebar*/
aside#side{
  float: right;
  width: 30%;
  margin-top: 10px;
}

aside#side .quote input, aside#side .quote textarea{
  width: 90%;
  padding: 5px;
}


/*Services*/

ul#services li{
  list-style: none;
  padding-left: 20px;
  border: #000000 solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
  color: #000000;
}


footer{
  padding:20px;
  margin-top:20px;
  color:#B93838;
  background:#ffffff;
  text-align:center;
}


/*media Queries*/

@media(max-width: 768px){
  header #head,
  header nav,
  header nav li,
  #subscribe h1,
  #subscribe form,
  #boxes .box,
  article#main-col,
  aside#side{
    float: none;
    text-align: center;
    width: 100%;
    }
  header{
    padding-bottom: 20px;
    }
    #backgroundImage h1{
      margin-top: 40px;
    }

  #subscribe button, .quote button{
    display: block;
    width: 100%;
  }
  #subscribe form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom: 5px;
  }

  }
